ody {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    
  }
  
  #header{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  #form{
    margin: auto;
    width: 60%;
    border: 3px solid #000000;
    padding: 10px;
    text-align: center;
  }
  
  button{
    width: 30%;
    margin-top: 10%
   
  }
  
  #stats{
    float: right;
    border: 3px solid #000000;
  }
  
  footer{
    width: 100%;
      height: 150px;
      background: #a1a1a1;
      position: absolute;
      bottom: 0px; left: 0;
    
  }
  
  header, main, footer {
    min-width: 100%;
    overflow: auto;
   }
   main{
    min-width: 70;
   }
   tr{
       height: 35px;
   }
   th{
       width: 35px;
       
   }
   
   main .PlayerTable{
    position: absolute;
    bottom: 25%;
    left: 15%;
    /* small but o so important extra line of css that make sure the table is always on the forground, befor everything so it can always be clicked */
    z-index: 1; 
   }
   main .OpponentTable{
   position: absolute;
   bottom: 25%;
   left: 60%; 
   }
   main .PlayersText{
    position: absolute;
    bottom: 80%;
    left: 15%; 
   }
   main .OpponentsText{
    position: absolute;
    bottom: 80%;
    left: 60%; 
   }
   
  
   footer{
    position: absolute;
    bottom: 0%;
    left: 0%;
   }
   thead{
       border: none;
       outline: none;
   }
   thead td {
    text-align: center;
    outline: none;
    border: none;
   }
   .table123{
    text-align: center;
    outline: none;
    border: none;
   }
   main{
     background: rgb(226, 101, 122);
   }
   #gameChanger{
     width: 10%;
     position: absolute;
     bottom: 20%;
    left: 45%;
   }

















   #ship1{
    width: 35px;
    height: 35px;
    position: absolute;
    top: 50px;
    left: 10px;
   }
   
   #ship2{
    width: 35px;
    height: 35px;
    position: absolute;
    top: 100px;
    left: 10px;
   }
   
   #ship3{
    width: 35px;
    height: 35px;
    position: absolute;
    top: 150px;
    left: 10px;
   }

   #doubleShip1{
    width: 35px;
    height: 70px;
    position: absolute;
    top: 50px;
    left: 50px;
   }
   #doubleShip2{
    width: 35px;
    height: 70px;
    position: absolute;
    top: 130px;
    left: 50px;
   }
   #resetButton{
     width: 100px;
     height: 100px;
     position: absolute;
     top: 35%;
     left: 45%;

   }






   /* new since 02/12/2018 */ 
   /* alsow made a little but important change in the player's tabel. don't forget you coppy it*/
   #tripleShip1{
    width: 35px;
    height: 105px;
    position: absolute;
    top: 210px;
    left: 50px;
   }
   #tripleShip2{
    width: 35px;
    height: 105px;
    position: absolute;
    top: 210px;
    left: 10px;
   }
   #quadraShip1{
    width: 35px;
    height: 140px;
    position: absolute;
    top: 320px;
    left: 50px;
   }
   #pentaShip1{
    width: 35px;
    height: 175px;
    position: absolute;
    top: 320px;
    left: 10px;
   }
   #shipTurned{
    /*Positions are heigh negative numbers so the ship doesn't appear on the screen 
    in the time between the creation of the shipTurned and the mapping of that object to the mouse */
    position: absolute;
    left: -1000px;
    top: -1000px;
    
   }








   /* from here on out it's all bullshit. dont coppy  later*/
   #flag{
     width: 300px;
     height: 180px;
      position: absolute;
      left: 40%;
   }