body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; 
  overflow: hidden;
}

#header{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1{
  font-family: 'Comic Sans MS', 'cursive', sans-serif;
  text-align: center;
  font-size: 64px;
  position: absolute;
  top: 0px;
  left: 620px;

}

#form{
  margin: auto;
  width: 60%;
  padding: 10px;
  text-align: center;
  
}

.howToPlay{
  color: #87d0fe;
  text-align: center;
  width: 30%;
  margin: auto;
  font-size: 16px;
  border: 0px; 
}



button{
  background-color: #87d0fe; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition: all 0.3s ease 0s;
}

button:hover {
  background: #3997d1;
}
 button:active{ 
  background-color: gray;
}
button:hover{
  border-color: #000000;
  border-width: 1px;
  cursor: pointer;
}

#inGameTimer{
  position: absolute;
  left: 610px;
  top: 200px;
  width: 20%;
  text-align: center;
  font-size: 25px;
  color: crimson;
}


#hit{
  position: absolute;
  left: 525px;
  bottom: 0px;
}
#mis{
  position: absolute;
  right: 525px;
  bottom: 0px;
}

#stats{
  float: right;
  width: 15%;
  border: 3px solid #000000;
  padding: 10px;
  margin: 10px;
  
}


/* footer stuff */
footer{
  width: 100%;
    height: 50px;
    background: #87d0fe;
   
    position: fixed;
    bottom: 0px; left: 0; 
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0;
  overflow: hidden;
  font-size: 100%;   
}


#madeBy{
  float: right;
  color: white;
  right: 5px;
  padding: 5px;
}

li a {
  display: block;
  padding: 20px 16px;
  color: white;
  text-align: center;
  text-decoration: none;
  float: left;

}


 main{
  min-width: 70;
 }

 main .PlayersText{
  position: absolute;
  bottom:600px;
  left: 75px; 
  width: 495x;
  border: 0px;
  padding: 10px;
  margin: 5px;
 }
 main .PlayersText::after{
   content: "ships";
 }
 main .OpponentsText{
  position: absolute;
  bottom: 600px;
  left: 950px; 
  width: 495px;
  border: 0px;
  padding: 10px;
  margin: 5px;
 }
 main .OpponentsText::before{
   content: "Waiting ";  
   
 }

 /* the tables */
 table{
  table-layout: fixed;
  width: 495px;
  height: 495px;
 }
 tr{
     height: 45px;
 }
 th{
     width: 45px;
 }
 
 main .PlayerTableClass{
  position: absolute;
  bottom: 100px;
  left: 75px;
  /*background: #87d0fe;*/ /* Background is it;s own object because it otherwise is placed ove rthe ships dragged into the table*/
  /* small but o so important extra line of css that make sure the table is always on the forground, befor everything so it can always be clicked */
  z-index: 1; 
  border-collapse: collapse;
 }

 .OpponentTable th:hover {background-color: #3997d1;}

 main .OpponentTable{
 position: absolute;
 bottom: 100px;
 left: 975px ;
 background: #87d0fe;
 border-collapse: collapse;
 
 }

 main #backgroundPlayerTable{
   position: absolute;
   bottom: 100px;
   left: 75px ;
   width: 494px;
   height: 494px;
   background: #87d0fe;
   z-index: -1;
   border: none;
 }
 
 thead{
     border: none;
     outline: none;
 }
 thead td {
  text-align: center;
  outline: none;
  border: none;
 }
 .table123{
  text-align: center;
  outline: none;
  border: none;
 }

 /* error message */
 #errorMessage{
  position: absolute;
  left: 610px;
  bottom: 30%;
  width: 20%;
  text-align: center;
  font-size: 25px;
  color: crimson;
 }
 
 #gameChanger{
   width: 10%;
   position: absolute;
   bottom: 20%;
   left: 690px;
 }

/* the ships */
 #ship1{
  width: 35px;
  height: 35px;
  position: absolute;
  top: 150px;
  left: 580px;
  
 }
 
 #ship2{
  width: 35px;
  height: 35px;
  position: absolute;
  top: 150px;
  left: 620px;
 }
 
 #ship3{
  width: 35px;
  height: 35px;
  position: absolute;
  top: 150px;
  left: 1000px;
 }
 
 #doubleShip1{
  width: 35px;
  height: 70px;
  position: absolute;
  top: 190px;
  left: 580px;
 }
 #doubleShip2{
  width: 35px;
  height: 70px;
  position: absolute;
  top: 190px;
  left: 620px;
 }

 #tripleShip1{
  width: 35px;
  height: 105px;
  position: absolute;
  top: 265px;
  left: 580px;
 }
 #tripleShip2{
  width: 35px;
  height: 105px;
  position: absolute;
  top: 265px;
  left: 620px;
 }
 #quadraShip1{
  width: 35px;
  height: 140px;
  position: absolute;
  top: 375px;
  left: 580px;
 }
 #pentaShip1{
  width: 35px;
  height: 175px;
  position: absolute;
  top: 375px;
  left: 620px;
 }
 #shipTurned{
  /*Positions are heigh negative numbers so the ship doesn't appear on the screen 
  in the time between the creation of the shipTurned and the mapping of that object to the mouse */
  position: absolute;
  left: -1000px;
  top: -1000px;
 }
 
 .numberOfOngoingGames::after{
  content: " games are currently playing";
 }
 .onlinePlayers::after{
   content: " players are online";
 }
 .gamesPlayed::after{
  content: " games have been played";
}
.Made::before{
  content: "Made";
}


.splashShip{
  width: 0px; 

  position: relative;
  
 
  /*-webkit-animation-name: shipSplash; 
  -webkit-animation-duration: 10s; 
  -webkit-animation-timing-function: linear;*/
  animation-name: shipSplash;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

/*@-webkit-keyframes shipSplash {
  0%   {left:1500px; top:90px;}
  100%  {left:-700px; top:90px;}
}*/

@keyframes shipSplash {
  0%   {left:1500px; top:20px;}
  100%  {left:-700px; top:20px;}
}





#plane{
  width: 0px; 
  z-index: -1;
  position: relative;
  animation-name: planeAnimation;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}


@keyframes planeAnimation {
  0%  {left:1500px; top:-20px;}
  20% {top:-20px;}
  30% {top:-70px;}
  50% {top:-70px;}
  60% {top:-20px;}
  100%{left:-700px; top:-20px;}
}

#uselessBoxModel{
  margin: 5px;
  padding: 5px;
  border: none;
}
#trash{
  position: absolute;
  left: -1000px;
}